

  <div id="calendar"></div>
  <div id="trip-modals">
  <%= render 'modals/new_trip' %></div>



 <a class="new-trip btn btn-primary"  href="#" role="button">New Trip</a>
<a class="btn btn-primary" id="show-trips-table" href="#" role="button">See Upcoming Trips</a>

  <table class="table table-striped table-hover" id="trips-table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Location</th>
        <th>Boat</th>
        <th colspan="3"></th>
      </tr>
  </table>




