<%# Add links to show, edit, and delete each trip %>

<%# Add calender that updates as new entries are made %>




<div id="calendar"></div>
    <div class="tripList">
      <% @trips.each do |t|%> 
        <ul>
          <li> 
            <%= link_to "#{t.date}", trip_path(t) %>
          </li>
        </ul> 
      <% end %>
    </div> 
      
      <div>
      <% if !user_signed_in? %>
        <%= link_to "Login", new_user_session_path %>
        <% end %>
      </div>
      
      <div>
        <% if user_signed_in? %>
        <%= link_to "Logout", destroy_user_session_path %>
        <% end %>
      </div>
    
