<%# Add links to show, edit, and delete each trip %>

<%# Add calender that updates as new entries are made %>




<div class="container">
  <div class="row">
    <h3>Current Trips</h3>
    <div class="column">
      
         <% @trips.each do |t|%>
         <ul>
          <li>
            <%= t.client.name%>
          </li>
        </ul>
        <% end %>
          <div>
            <%= link_to "Login", new_user_session_path %>
          </div>
          <div>
          <%= link_to "logout", destroy_user_session_path %>
          </div>
        
   
    </div>
  </div>
</div>
