<div class="container">
  <div class="row">
    <h3>Current Clients</h3>
    <div class="column">
      <table class="table">
        <tbody>
          <% @clients.each do |client| %>
            <tr>
              <%= client.name%>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
