 <div class="modal fade" id="new-boat-modal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create a New Boat</h4>
        </div>
        <div class="modal-body">
          <p><%= render 'boats/boat_form' %></p>
        </div>
      </div>
    </div>
  </div>

  