@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

img {
  @extend .img-fluid;
  margin: 0 auto;
}

.column {
  @extend .col-md-6;
  text-align: center;
}
.form {
  @extend .col-md-6;
}
.form-centered {
  @extend .col-md-6;
  text-align: center;
}
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
}

// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  margin-top: 30px; // accommodate the navbar
}

section {
  @extend .row;
  margin-top: 20px;
}
