
nav {
  overflow: auto;
}

.navbar{ background:rgb(183, 215, 252);}
.nav-link , .navbar-brand{ color: #d14f4f; cursor: pointer;}
.nav-link{ margin-right: 1em !important;}
.nav-link:hover{ background: #e2f8ff; color: #e0c7b0; }
.navbar-collapse{ justify-content: flex-end;}
.navbar-toggler{  background:rgb(214, 210, 210) !important;}

.navbar-collapse{
 justify-content: flex-start;
}
