<% @boats.each do |boat| %>
  <h2><%= boat.name %></h2>
  <ul>
        <div class="edit-btn">
          <%= link_to 'Edit', edit_boat_path(boat), :class => "btn btn-primary" %>
        </div>
        <div id="info-<%= boat.id %>">
        </div>
        
        <button class="more-info-btn" data-id="<%= boat.id %>"> More Info</button>
  </ul>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('.more-info-btn').on('click', function() {
      let id = $(this).data("id");
      $.get("/boats/" + id , function(data) {
        let boat = data;
        $("#info-" + id).text(
           boat["capacity"]
        )
    })
  })
})
</script>

