<% @boats.each do |b| %>
  <h2><%= b.name %></h2>
  <ul>
      <li>Type - <%= b.boat_type %></li>
      <li>Capacity - <%= b.capacity %></li>
        <div>
          <%= link_to 'Edit', edit_boat_path(b), :class => "btn btn-primary" %>
        </div>
  </ul>
<% end %>