<h2>New Boat</h2>
<div class="flex-container">
  <%= render 'boat_form' %>
</div>

<div id="boatResult">
  <h1 id="boatName"></h1>
  <p id="boatType"></p>
  <p id="boatCapacity"></p>
</div>




<script type="text/javascript" charset="utf-8">
  $(function() {
    $('form').submit(function(event) {
      event.preventDefault()
      let values = $(this).serialize()
      let posting = $.post('/boats', values)

      posting.done(function(data) {
        var boat = data;
        $("#boatType").text(boat["boat_type"])
        $("#boatName").text(boat["name"])
        $("#boatCapacity").text(boat["capacity"])
      })
    })
  })
</script>

