<nav class="navbar navbar-expand-lg navbar-light ">
  <a class="navbar-brand" href="/">BoatBooker</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item" ></a>
      <a class="nav-item nav-link" href="<%=new_trip_path%>">New Trip</a>
      <a class="nav-item nav-link" href="<%=new_boat_path%>">New Boat</a>
      <a class="nav-item nav-link" href="<%=boats_path%>">All Boats</a>
    </div>
  </div>
</nav> 