<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">BoatBooker</a>
    </div>
    <a href="trips/new" class="btn btn-info" role="button">Add a New Booking</a>
  </div>
</nav>