<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">BoatBooker</a>
    </div>
    <%= link_to "Create Booking", new_trip_path %>
  </div>
</nav>
