<div class="navbar-nav">
      
      <a class="nav-item nav-link" id="new-boat" href="<%=new_boat_path %>" role="button">New Boat</a>
      <a class="nav-item nav-link" href="<%=boats_path %>">All Boats</a>
      <a class="nav-item nav-link" href="<%=clients_path %>">Clients</a>
      <a class="nav-item nav-link" href="<%=destroy_user_session_path %>">Logout</a>
</div>